node_modules/
bin/
dist/
target/
.DS_Store
build/
.gradle
.idea/
*.iws
*.iml
*.ipr
out/
.run/
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
run/
**/src/generated/**/.cache/
repo/
.env
